body {
    margin: 100%;
    padding:0;
    font-family: monserrat;
    background: linear-gradient(150deg, #E6E1E0, #A29E9D);
    height:100vh;
}

#betonav{
    width: 50px;
    height: 50px;
    margin-left: -50px;
}

.container {
    padding: 15px;
    margin: auto;
    margin-top: 10px;
}

#texto{
    border: black solid;
    text-align: center;
}

.botones {
    width: 25%;
    background: #faf5f4;
    margin-bottom: 22px;
    border-radius: 10px;
    margin-left: auto;
    
}